.landing_page
  .landing_page__header
    Tabetech 〜食xテクノロジーでソリューションをご提案〜
  .landing_page__image_slicker
  .landing_page__lp-portfolio
    .landing_page__lp-portfolio__header
      %p  料理人のポートフォリオ　〜eatfolio~
      %p  調理技術ブログ 〜食いiita〜
    .landing_page__lp-portfolio__content
      %p  料理のプロがしたためる技術ブログのサービスと、料理人の作品投稿フォーマットの融合。採用、転職活動にもご利用いただけます。
    =link_to "#", class: "portfolio_link" do
      .link_btn
        サイトへ
  .landing_page__lp-store_management
  .landing_page__lp-reserve
-# %h1 Listing lps

-# %table
-#   %thead
-#     %tr
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     - @lps.each do |lp|
-#       %tr
-#         %td= link_to 'Show', lp
-#         %td= link_to 'Edit', edit_lp_path(lp)
-#         %td= link_to 'Destroy', lp, method: :delete, data: { confirm: 'Are you sure?' }

-# %br

-# = link_to 'New Lp', new_lp_path
