.landing_page {
  &__header {
    height: 50px;
    width: 100%;
    background-color: blue;
    margin: 10px auto;
  }
  &__image_slicker {
    height: 200px;
    width: 100%;
    background-color: yellow;
    margin: 10px auto;
  }
  &__lp-portfolio {
    height: 150px;
    width: 100%;
    background-color: yellowgreen;
    margin: 10px auto;
  } 
  &__lp-store_management {
    height: 150px;
    width:100%;
    background-color: pink;
    margin: 10px auto;
  }
  &__lp-reserve {
    height: 150px;
    width: 100%;
    background-color: purple;
    margin: 10px auto;
  }
}