*{
  box-sizing: border-box;
}

.landing_page {
  background-color:lightgray;
  &__header {
    height: 100px;
    width: 100vw;
    background-color: blue;
    margin: 0;
    line-height: 100px;
    font-size: 20px;
    color: whitesmoke;
    .tabetech {
      color:black;
      font-weight: bold;
      font-size: 40px;
      font-family: impact;
      text-shadow: 5px 5px 1px #999999;
      margin-left: 1em;
    }
  }
  &__contents {
    width: 80vw;
    margin: 0 auto;
    &__image_slicker {
      height: 400px;
      width: 100%;
      background-color: yellow;
      margin: 10px auto;
      .image {
        max-width: 100%;
        width: 100%;
        max-height: 400px; 
        height: auto;
        vertical-align: bottom;
      }
    }
    &__lp-portfolio {
      height: 150px;
      width: 100%;
      // background-color: yellowgreen;
      background-size: 100%;
      background-position: center;
      background-image: image-url('MOK_unitotoro.jpg');
      margin: 10px auto;
      .portfolio_link {
        text-decoration: none;
        .link_btn {
          border: solid;
          height: 30px;
          width: 70px;
        }
      }
    } 
    &__lp-store_management {
      height: 150px;
      width:100%;
      // background-color: pink;
      background-size: 100%;
      background-position: center;
      background-image: image-url('fishes.jpg');
      margin: 10px auto;
    }
    &__lp-reserve {
      height: 150px;
      width: 100%;
      background-color: purple;
      margin: 10px auto;
      background-size: 100%;
      background-position: center;
      background-image: image-url('9c18c644b6dbc60faf76980547b85843_w.jpg');
    }
  }
}