.portfolio {
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
  }
  &__contents {
    display: flex;
    &__side-bar{
      width: 200px;
      height: 100vh;
      background-color: orange;
      
    }
    &__right{
      height: 100vh;
      width: calc(100vw - 200px);
      &__head{
        height: 100px;
        width: 100%;
        background-color:orchid;
      }
      &__samary{
        height: calc(100vh - 100px);
        width: 100%;
        background-color: pink;
      }
    }
  }
}